th  , td{
  border: 1px solid gray;
  padding: 20px;
}

.screen{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(119,191,12);
  color: #f1f1f1;
  border: none;
}